<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {% load static %}
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Lobster&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="{%static 'css/main.css' %}" rel="stylesheet">
  <title></title>
</head>
<body>

  <center>
    <header>
      <h1 class="adding">Upload Account</h1>
    </header>
    {% block content%}

    <form class="form-style-4" method="POST" enctype="multipart/form-data">{% csrf_token %}
      <div>

        <label for="field1">
          <table>
            {%for field in account_form%}
            <tr>
              <th>{{field.label}}</th>
              <td>{{field}}</td>
            </tr>
            {% endfor%}
          </table>
        </label>
        <button type="submit" class="btn waves-effect waves-light">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>

    {% endblock %}

  </center>
</body>
</html>
