<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
  {% load static %}
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Lobster&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="{%static 'css/main.css' %}" rel="stylesheet">

  <title></title>
</head>
<body>

  <header class="masthead text-center text-white">
    <nav style="background-color:#ED555A;" class="nav-extended">
      <div class="nav-content">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a class="navbar-brand" href="{% url 'index' %}" >Home</a></li>

          <li class="tab"> <a href="{% url 'addAccount' %}" class="navbar-link btn-lg">What would you like to save for</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <center>
{% block content %}
  {% for account in account_info %}
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <h3 class="masthead-heading mb-0">I'm saving for {{account.item}}</h3>
          <h4 class="masthead-subheading mb-0">I need {{account.balance}}</h4>
          <h4 class="masthead-subheading mb-0">What I have saved: {{account.transactions}}</h4>
          <div class="card-action">
            <a href="updateAccount/{{account.id}}" class="waves-effect waves-light btn-large" id = '{{account.id}}'>Deposit</a>
            <a href="deleteAccount/{{account.id}}" class="waves-effect waves-light btn-large" id = '{{account.id}}'>delete</a>
          </div>
        </div>
        </div>
      </div>
    </div>

    {% endfor%}
    {%endblock%}
  </center>
  </body>
  </html>
